body {
    background-color: rgb(0,0,0);
    overflow: hidden;

}
body div:nth-child(1){
    left: 40% !important;
    animation-delay: 200ms;
}
body div:nth-child(1) .coin-heads, body div:nth-child(1) .coin-tails{
    animation-delay: 200ms;
}
body div:nth-child(2){
    left: 25% !important;
    animation-delay: 50ms;
}
body div:nth-child(2) .coin-heads, body div:nth-child(2) .coin-tails{
    animation-delay: 50ms;
}
body div:nth-child(3){
    left: 50% !important;
}
body div:nth-child(4){
    left: 75% !important;
    animation-delay: 300ms;
}
body div:nth-child(4) .coin-heads, body div:nth-child(4) .coin-tails{
    animation-delay: 300ms;
}
body div:nth-child(5){
    left: 60% !important;
    animation-delay: 500ms;
}
body div:nth-child(5) .coin-heads, body div:nth-child(5) .coin-tails{
    animation-delay: 500ms;
}
.coin-flip{
    width: 100px;
    height: 100px;
    left: 50%;
    filter: hue-rotate(40deg) saturate(200%) brightness(120%);
    transform: translateX(-50%);
    transform-style: preserve-3d;
    position: absolute;
    animation: fly 1.5s ease-in-out 0s infinite alternate;
}
.coin-flip img{
    width: 100px;
}

.coin-heads, .coin-tails {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(46%);
}

.coin-heads{
    animation: flip-head 1s linear 0s infinite alternate;
}
.coin-tails{
    animation: flip-tail 1s linear 0s infinite alternate;
}

@keyframes fly {
    0% { top: 100%; scale: 50%;}
    100% { top: 0%;  scale: 100%;}
}

@keyframes flip-head {
    0%, 100% { transform: rotateX(0deg); }
    50% { transform: rotateX(180deg); }
}

@keyframes flip-tail {
    0%, 100% { transform: rotateX(180deg); }
    50% { transform: rotateX(0deg); }
}
